
<div class="container">
  <h1>Account Information</h1>
  <h2 class="tagline"><%=current_user.email%></h2>
</div>


<div class="container">
  <div class="main">

  </div><!-- .main -->

  <div class="sidebar">

    <div class="widget">
      <img src="http://placehold.it/150x150" alt="Profile Picture" width="150">
      <h3 class="profile">Profile</h3>
    </div><!-- .widget -->

  </div><!-- .sidebar -->

  <div class="widget">
    <h3>Suggested Songs</h3>
    <ul>
    <% current_user.suggested_songs.each do |song| %>
      <li><p><strong>Title:</strong> <%= song.title %>, <strong>Artist:</strong> <%= song.artist %></p></li>
    <% end %>
    <ul>
  </div>
  <div class="clear"></div>

  <% array = [] %>
  <% current_user.suggested_songs.each do |song| %>
    <% song.votes.each do |vote| %>
      <% array.push vote.value %>
    <% end %>
  <% end %>

  <div class="widget" id="points">
    <%if current_user.votes.count == 0 %>
      <h3>Points: 0</h3>
    <% else %>
      <h3>Points: <%= array.reduce(:+) %></h3>
    <% end %>

  </div>

  <div class="widget" id="points">
    <h3>Premium: <%= current_user.premium %></h3>
  </div>


</div><!-- .container -->
</body>
</html>
