<!--padding  -->
<div>
  <ul>
  </ul>
</div>

<!--add a new song  -->
<div class="login-modal">
    <div class="login-container">
        <div class=login>
            <input id="username-login" placeholder="title" name="title"></input>
        </div>
        <div>
            <input type="password"id="password-login" placeholder="artist"></input>
        </div>
        <div>
            <input type="submit" class="submit">
    </div>
</div>

<!--song titles/artist and letters  -->
<h2><%= @songs.values.flatten.count %> songs                             </h2>

<%      @songs.each do |letter, songs|                                      %>
<h3><%=   letter                                                       %></h3>
<%        songs.each do |song|                                              %>
<p><%=      "Title: #{song.title}, Artist: #{song.artist}"              %></p>
<%          upvote_button = 'vote-button'                                   %>
<%          downvote_button = 'vote-button'                                 %>
<%          cast_vote = current_user.votes.find {|o| o.song_id == song.id}  %>
<%            if cast_vote                                                  %>
<%              disabled_attr = 'disabled'                                  %>
<%              if cast_vote.value == 1                                     %>
<%                upvote_button = 'vote-button-down-pressed'                %>
<%                downvote_button = 'vote-button-down'                      %>
<%              else                                                        %>
<%                upvote_button = 'vote-button-down'                        %>
<%                downvote_button = 'vote-button-down-pressed'              %>
<%              end                                                         %>
<%          end                                                             %>
<p>
    <form method="POST" action="/user/song/vote">
      <input class="<%= upvote_button %>" type="submit" value="upvote" <%= disabled_attr %>></input>
      <input type="hidden" name="song_id" value="<%= song.id %>"></input>
      <input type="hidden" name="vote" value="up"></input>
    </form>
    <form method="POST" action="/user/song/vote">
      <input class="<%= downvote_button %>" type="submit" value="downvote" <%= disabled_attr %>></input>
      <input type="hidden" name="song_id" value="<%= song.id %>"></input>
      <input type="hidden" name="vote" value="down"></input>
    </form>
</p>
<%        end                                                               %>
<%      end                                                                 %>
