<!-- <h2><%= @songs.count %> songs</h2> -->

<h2><%= "Last week's AlphatuneZ playlist:" %></h2>
<% @songs.each do |song| %>
<p><%= " '#{song.title}' by #{song.artist}" %></p>
<%          end %>


<br>
<br>
<h3><%= "View previous weeks' playlists:" %> </h3>

<% @last_5_playlists.each do |playlist| %>
<p><center><a href="/previousplaylists/<%="#{playlist.id}"%>"><%=playlist.created_at%></a> </center></p>
<% end %>

<p><center><a href="/previousplaylists/<%="#{@last_playlist.id}"%>"><%=@last_playlist.created_at%></a> </center></p>
